:root{
    --buttonBg:#034a8d;
    --textColor:#fff;
}

.home_page{
    padding:4vw 4vw;
    width: 95vw;
    margin: auto;
    /* border: 2px solid red; */
}

.home_page h2{
    font-size: 9vw;
    color: var(--textColor);
    margin:6vw 0;
    text-align: center;
    /* border: 2px solid blue; */
    letter-spacing: 0.3vw;
}
.template_wrapper{
    /* border: 2px solid red; */
    /* margin: auto; */
    margin-top: 14vw ;
}
.image_wrapper{
    /* border: 2px solid red; */
    
    margin-top: 5vw;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 1.2vw;
}

.hero_image{
    width: 27.7vw;
    position: relative;
    top: 0;
    left: 0;
}

.hero_image i{
    position: absolute;
    bottom: 5vw;
    left: 10vw;
    /* background-color: yellow; */
    color: yellow !important;
    font-size: 7vw;
    z-index: 9;
}

.hero_image img{
    /* box-shadow: 0.3vw 0.2vw 1vw blue; */
    width: 100%;
    border-radius: 1.8vw;
    border: 3px solid var(--textColor);
    transition: transform 0.5s ease-in-out;
}

.button_start{
    width: 38vw;
    /* border: 2px solid red; */
    margin: 9vw auto;
}

.button_start button{
    width: 35vw;
    font-size: 4.5vw;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1.2vw;
    outline: none;
    border-radius: 0.41vw;
    border: none;
    border: 2px solid var(--textColor);
    background-color: var(--buttonBg);
    color: #b4cfe7;
    cursor: pointer;
}

button:disabled{
    /* border: 2px solid red !important; */
    color: gray !important;
}
.button_start button:hover{
    box-shadow: 0.1vw 0.1vw 2vw rgb(105, 133, 224);
    transition: all 0.5s ease-in-out;
}

.hero_image:hover img{
    box-shadow: 0vw 0vw 1.5vw #054988;
    /* transform: rotate(1deg); */
    transform: scale(1.1);
    /* transition: all .3s ease; */
    cursor: pointer;
}

.selected_img{
    border: 0.9vw solid rgb(228, 225, 39) !important;
    transform: scale(1.1);
}

.more_category_wrapper{
    /* border: 2px solid red; */
    margin-top: 9vw;
    margin-bottom: 7vw;
}
.category_navbar{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3vw;
    margin-bottom: 1vw;
}

.category_navbar button{
    outline: none;
    border: 2px solid #1f3952;
    padding: 0.9vw;
    border-radius: 0.6vw;
    font-size: 1vw;
    text-transform: capitalize;
    cursor: pointer;
    color: #b4cfe7;
    background-color: #0c365e;
}

.category_navbar select {
    border: 2px solid var(--textColor);
    padding: 0.3vw;
    background-color: var(--buttonBg);
    color: #e9ecf0;
    border-radius: 0.6vw;
    outline: none;
    font-size: 3.1vw;
    
}

.category_navbar option{
    /* font-size: 1vw; */
    /* background-color: #1f3952; */
}




@media screen and (min-width:480px) and (max-width:990px){
    body{
        height: 100vh;
        overflow: hidden;
        /* border: 4px solid yellow; */
        padding: 1vw;
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
    .home_page{
        width: 100%;
        padding: 1vw;
        height: 100%;
        /* border: 2px solid red; */
        margin-top: 4vw;
    }
    .home_page h2{
        font-size: 4.5vw;
        margin: .9vw auto ;
    }
    .template_wrapper{
        margin-top: 3vw;
    }
    .image_wrapper{
        width: 100%;
        margin: 4.1vw auto;
        /* margin-top: 1vw !important; */
        /* border: 2px solid red; */
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }
    .hero_image{
        width: 25vw;
    }
    
    .button_start{
        width: 20vw;
        margin: 1.5vw auto;
        /* border: 2px solid red; */
    }
    .button_start button{
        width: 100%;
        font-size: 1.7vw;
    }
    .more_category_wrapper{
        margin-top: 5vw;
        padding: 1vw;
        margin-bottom: 1vw;
        /* border: 2px solid blue; */
    }

    .category_navbar{
        gap: 1vw;
    }

    .category_navbar select{
        font-size: 2vw;
        padding: 1.2vw;
    }

    .hero_image i{
        left: 10.6vw;
        bottom: 2vw;
        font-size: 4vw;
    }
    
    .selected_img{
        /* border: 3px solid rgb(228, 225, 39) !important; */
    }
}

@media screen and (min-width:991px)  {
    body{
        /* height: 100vh; */
        /* overflow: hidden; */
        /* border: 4px solid yellow; */
        padding: 1vw;
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
    .home_page{
        width: 100%;
        padding: 0;
        /* height: 100%; */
        /* border: 2px solid red; */
        /* margin-top: 0.1vw; */
    }
    
    .home_page h2{
        margin: 0;
        font-size: 3.8vw;
    }
    .template_wrapper{
        margin-top: 2vw;
    }
    .image_wrapper{
        width: 100%;
        margin: 4.1vw auto;
        /* margin-top: 1vw !important; */
        /* border: 2px solid red; */
        align-items: center;
        justify-content: center;
        gap: 2.41vw;
    }
    .hero_image{
        width: 11vw;
    }
    .home_wrapper {
        margin-top: .1vw;
    }
    .button_start{
        width: 17vw;
        margin: 4.5vw auto;
        /* border: 2px solid red; */
    }
    .button_start button{
        padding: 1vw;
        width: 100%;
        font-size: 1.6vw;
    }
    .more_category_wrapper{
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .category_navbar{
        gap: 1vw;
    }

    .category_navbar select{
        font-size: 1.3vw;
        padding: 1vw;
    }

    .hero_image i{
        left: 4.4vw;
        bottom: 2vw;
        font-size: 2vw;
    }
    .selected_img{
        border: 3px solid rgb(228, 225, 39) !important;
    }
    
}

@media screen and (min-width:1440px)  {
    body{
        /* height: 100vh; */
        /* overflow: hidden; */
        /* border: 4px solid yellow; */
        padding: 1vw;
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
    .home_page{
        width: 100%;
        padding: 0;
        height: 100%;
        /* border: 2px solid red; */
        margin-top: 3vw;
    }
    .home_page h2{
        font-size: 4.5vw;
        margin: 1vw auto ;
    }
    .image_wrapper{
        width: 100%;
        margin: 2.1vw auto;
        /* margin-top: 1vw !important; */
        /* border: 2px solid red; */
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }
    .hero_image{
        width: 14vw;
    }
    .hero_image i{
        left: 6vw;
    }
    .home_wrapper {
        margin-top: 1vw;
    }
    .button_start{
        width: 17vw;
        margin: 1.5vw auto;
        /* border: 2px solid red; */
    }
    .button_start button{
        padding: 1vw;
        width: 100%;
        font-size: 1.6vw;
    }
}

